/* basics */
* {
	margin: 0;
	padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	width: 100%;
	background: #ECEFF1;
	color: rgba(0,0,0,.27);
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	text-align: center;
}

a {
	color: #00BCD4;
	text-decoration: none;
}

footer {
	margin: 25px 0 50px;
	display:block;
	width: 100%;
}

footer .icon {
	margin: 0 auto 12px;
	width: 50px;
	height: 52px;
	background: url('../img/icon.png') no-repeat center;
	background-size: 50px 52px;
}

footer .icon img {

}

/* video */

.vidwrap {
	display: block;
	width: 100%;
}

.vidwrap video {
	margin: 2% auto 0;
	width: 80%;
	border-radius: 6px;
}

/* media queries */
@media only screen and (max-width: 480px) {
	.vidwrap video {
		margin: 15% auto 0;
	}
}

@media only screen and (max-width: 1024px) {
	.vidwrap video {
		margin: 5% auto 0;
	}
}
